  <div class="container">
    <div class="row well">
      <h1> MY CLASS APP</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button action="/login" method="get" class="btn btn-info btn-block"> LOGIN </button>
        <button action="/register" method="get" class="btn btn-warning btn-block"> REGISTER </button>  
      </div>
    </div>
  </div>
