<div>
<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Register</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">UserName</label>
          <div class="col-md-4">
          <input id="studentUsername" name="studentUsername" type="text" placeholder="User Name" class="form-control input-md" required="">
          <span class="help-block">User Name</span>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone</label>
          <div class="col-md-4">
          <input id="studentFirstName" name="studentFirstName" type="text" placeholder="First Name" class="form-control input-md" required="">
          <span class="help-block">First Name</span>
          </div>
        </div>

 <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone</label>
          <div class="col-md-4">
          <input id="studentLastName" name="studentLastName" type="text" placeholder="Phone Number" class="form-control input-md" required="">
          <span class="help-block">Last Name</span>
          </div>
        </div>


        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password </label>
          <div class="col-md-4">
            <input id="studentPassword" name="studentPassword" type="password" placeholder="Password " class="form-control input-md" required="">
            <span class="help-block">Password </span>
          </div>
        </div>
        
        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="save"></label>
          <div class="col-md-8">
            <button id="save" name="save" class="btn btn-success">Save</button>
            <button id="cancel" name="cancel" class="btn btn-danger">Cancel</button>
          </div>
        </div>

        </fieldset>
        </form>
</div>
