<div>
  <table>
    <thead>
    </thead>
    <tbody>
      {{#each user}}
      <td>
      {{studentUsername}}
      {{studentPassword}}
      hhihihi
      </td>
      {{/each}}
    </tbody>
  </table>
</div>
